body {
    background: #aadaff;
}

.map {
    overflow:hidden;
    width: 100%;
    height: 450px;
}

.contact-form {
    background-color: #fffeee;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 70px;
    border-radius: 3rem;
    border: 0.5px solid;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-form .custom-select {
    border-radius: 1rem;
}

.contact-form form {
    padding: 0% 9% 0% 9%;
}

.contact-form .btnContact {
    width: 12%;
    border: none;
    border-radius: 1rem;
    padding: 1.0%;
    background: seagreen;
    font-size: larger;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btn-fb {
    margin: 30px;
    background: #3B5998;
    color: white;
}

.btn-tw {
    margin: 30px;
    background: #55ACEE;
    color: white;
}

.btn-gp {
    margin: 30px;
    background: #D34836;
    color: white;
}

.tab {
    height: 450px;
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

h4 {
    padding-top: 200px;
}

input:valid {
    border-color: green;
}

.invalid {
    border-color: red;
}

.valid {
    border-color: green;
}
